/* Materialize Css Styles */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Footer */
.social-link {
	margin-right: 15px;
}

/* fetched walpapers */
.image {
	object-fit: contain;
}

.btn {
	margin-bottom: 20px;
}

.instruction-btn {
	border: 1px solid green;
}
